---
import BaseHead from '@/components/BaseHead.astro'
import Header from '@/components/Header.astro'
import Footer from '@/components/Footer.astro'
import Gallery from '@/components/Gallery.astro'
import ExternalScripts from '@/components/ExternalScripts.astro'

let title = 'Pengeon\'s Blender Work'
let description =
  'These are some of the work done in Blender by @pengeon'
---

<!doctype html>
<html lang="en">
  <BaseHead
    title={title}
    description={description}
    author={'pengeon'}
  />

  <body class="is-preload">
    <div id="wrapper">
      <Header title={title} />
      <Footer title={title} description={description} />
      <Gallery />
    </div>
    <ExternalScripts />
  </body>
</html>
